<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%boldGreen(%date{yyyy-MM-dd HH:mm:ss.SSS}) | %highlight(%-5level) | %cyan(%thread) | %magenta(%logger) | %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%boldGreen(%date{yyyy-MM-dd HH:mm:ss.SSS}) | %highlight(%-5level) | %cyan(%thread) | %magenta(%logger) | %msg%n</pattern>
			<charset>utf-8</charset>
		</encoder>
		<file>/data/logs/output.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<!-- <fileNamePattern>log/output.log.%i</fileNamePattern> -->
			<fileNamePattern>output.log.%i</fileNamePattern>
			
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>200MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.apache" level="WARN" />
	<logger name="org" level="WARN" />
	<logger name="_org" level="WARN" />
	<logger name="com.zaxxer" level="WARN" />
	<logger name="jdk" level="WARN" />

</configuration>

